.style-list {
  font-family:'Courier New', Courier, monospace;
  list-style-type: none;
}

ul.style-list {
  margin-left: -40px;
}

.style-list li {
  display: inline;
  margin-right: 10px;
}

.odin-style#center {
  background-color: rgb(53, 179, 196);
  opacity: 0.8;
  border-bottom: 2px solid rgb(20, 62, 63);
  border-right: 2px solid rgb(20, 62, 63);
  padding: 10px 20px;
  vertical-align: top;
  display: inline-block;
}

/*
#center {
  position: relative;
  left: 45%;
}
*/

.resize-foods {
  height: auto;
  width: 230px;
}

.background-color {
  background-color: rgba(170, 170, 92, 0.178);
}

.italic {
  font-style: italic;
}

h2.underline {
  font-style: italic;
  text-decoration: underline;
}

.description, .ingredients, .steps {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: hsl(234, 26%, 56%)
}

body {
  background-color: rgb(235, 202, 202);
  border: 2px solid rgb(20, 62, 63);
  margin: 12px;
  padding-bottom: 150px;
}

