.stylishfont {
  font-family:'Courier New', Courier, monospace;
}

.odin-style#center {
  background-color: grey;
  opacity: 0.8;
  width: 235px;
}

#center {
  position: relative;
  left: 45%;
}

.resize-foods {
  height: auto;
  width: 230px;
}

.background-color {
  background-color: rgba(170, 170, 92, 0.178);
}

.italic {
  font-style: italic;
}

h2.underline {
  font-style: italic;
  text-decoration: underline;
}

.description, .ingredients, .steps {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: hsl(234, 26%, 56%)
}
